& {
	padding: 17.6rem 0;

	.sections {
		display: flex;
		flex-direction: row;
		border: 1px solid rgba(25, 26, 32, 0.5);
		border-radius: 0.8rem;
		overflow: hidden;
		margin: 0 0 4.8rem 0;

		.section {
			width: 50%;

			textarea {
				width: 100%;
				min-height: 240px;
				max-height: 50vh;
				padding: 2.4rem;
				line-height: 2;
				font-size: 14px;
				color: var(--t-text-color);
				background-color: var(--t-bg-color);
				border: 0;
				letter-spacing: 0.5px;

				&:disabled {
					background-color: rgba(25, 26, 32, 0.5);
				}

				&::placeholder {
					color: var(--t-text-color);
				}
			}
		}
	}

	.switcher {
		height: 48px;
		align-items: center;
		max-width: 80%;
		width: 100%;
		justify-content: space-between;
		margin: 0 auto;

		select {
			text-align: center;
			height: 100%;
			color: #a5a5a5;
			font-size: 1.4rem;
			background-color: transparent;
			border-color: transparent;
		}
	}
}

@media screen and (max-width: 768px) {
	& {
		.sections {
			flex-direction: column;

			.section {
				width: 100%;
			}
		}
	}
}
